.objectform6points1
    {
        position: absolute;
        animation: objectform6points1 0.9s infinite;
    }
@keyframes objectform6points1 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points2
    {
        position: absolute;
        animation: objectform6points2 0.9s infinite 0.03s;
    }
@keyframes objectform6points2 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points3
    {
        position: absolute;
        animation: objectform6points3 0.9s infinite 0.06s;
    }
@keyframes objectform6points3 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points4
    {
        position: absolute;
        animation: objectform6points4 0.9s infinite 0.09s;
    }
@keyframes objectform6points4 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points5
    {
        position: absolute;
        animation: objectform6points5 0.9s infinite 0.12s;
    }
@keyframes objectform6points5 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points6
    {
        position: absolute;
        animation: objectform6points6 0.9s infinite 0.15s;
    }
@keyframes objectform6points6 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points7
    {
        position: absolute;
        animation: objectform6points7 0.9s infinite 0.18s;
    }
@keyframes objectform6points7 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points8
    {
        position: absolute;
        animation: objectform6points8 0.9s infinite 0.21s;
    }
@keyframes objectform6points8 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points9
    {
        position: absolute;
        animation: objectform6points9 0.9s infinite 0.24s;
    }
@keyframes objectform6points9 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points10
    {
        position: absolute;
        animation: objectform6points10 0.9s infinite 0.27s;
    }
@keyframes objectform6points10 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points11
    {
        position: absolute;
        animation: objectform6points11 0.9s infinite 0.30s;
    }
@keyframes objectform6points11 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points12
    {
        position: absolute;
        animation: objectform6points12 0.9s infinite 0.33s;
    }
@keyframes objectform6points12 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points13
    {
        position: absolute;
        animation: objectform6points13 0.9s infinite 0.36s;
    }
@keyframes objectform6points13 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points14
    {
        position: absolute;
        animation: objectform6points14 0.9s infinite 0.39s;
    }
@keyframes objectform6points14 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points15
    {
        position: absolute;
        animation: objectform6points15 0.9s infinite 0.42s;
    }
@keyframes objectform6points15 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points16
    {
        position: absolute;
        animation: objectform6points16 0.9s infinite 0.45s;
    }
@keyframes objectform6points16 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points17
    {
        position: absolute;
        animation: objectform6points17 0.9s infinite 0.48s;
    }
@keyframes objectform6points17 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points18
    {
        position: absolute;
        animation: objectform6points2 0.9s infinite 0.51s;
    }
@keyframes objectform6points2 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points19
    {
        position: absolute;
        animation: objectform6points19 0.9s infinite 0.54s;
    }
@keyframes objectform6points19 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points20
    {
        position: absolute;
        animation: objectform6points20 0.9s infinite 0.57s;
    }
@keyframes objectform6points20 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points21
    {
        position: absolute;
        animation: objectform6points21 0.9s infinite 0.60s;
    }
@keyframes objectform6points21 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points22
    {
        position: absolute;
        animation: objectform6points22 0.9s infinite 0.63s;
    }
@keyframes objectform6points22 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points23
    {
        position: absolute;
        animation: objectform6points23 0.9s infinite 0.66s;
    }
@keyframes objectform6points23 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points24
    {
        position: absolute;
        animation: objectform6points24 0.9s infinite 0.69s;
    }
@keyframes objectform6points24 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points25
    {
        position: absolute;
        animation: objectform6points25 0.9s infinite 0.72s;
    }
@keyframes objectform6points25 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points26
    {
        position: absolute;
        animation: objectform6points26 0.9s infinite 0.75s;
    }
@keyframes objectform6points26 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points27
    {
        position: absolute;
        animation: objectform6points27 0.9s infinite 0.78s;
    }
@keyframes objectform6points27 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points28
    {
        position: absolute;
        animation: objectform6points28 0.9s infinite 0.81s;
    }
@keyframes objectform6points28 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points29
    {
        position: absolute;
        animation: objectform6points29 0.9s infinite 0.84s;
    }
@keyframes objectform6points29 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
.objectform6points30
    {
        position: absolute;
        animation: objectform6points30 0.9s infinite 0.87s;
    }
@keyframes objectform6points30 
{
    0% {
        transform: translate(0px, 0px);
    }
    16.66% {
        transform: translate(100px, 0px);
    }
    33.33% {
        transform: translate(100px, 173.21px);
    }
    50% {
        transform: translate(50px, 86.60px);
    }
    66.66% {
        transform: translate(200px, 0px);
    }
    83.33% {
        transform: translate(150px, 86.60px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
